<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mytrendin.facetracking">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Visualisation App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="face" />

        <activity
            android:name=".FaceTrackerActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name=".FaceTrackerActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeScreen"
            android:label="Visualisation App">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainScreen"
            android:label="Home">
            <intent-filter>
                <action android:name=".MainScreen" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StudentDatabase"
            android:label="Student Database">
            <intent-filter>
                <action android:name=".StudentDatabase" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddStudent"
            android:label="Add Student&apos;s Details">
            <intent-filter>
                <action android:name=".AddStudent" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UpdateStudent"
            android:label="Update Student&apos;s Details">
            <intent-filter>
                <action android:name=".UpdateStudent" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UpdateStudent1"
            android:label="Update Student&apos;s Details">
            <intent-filter>
                <action android:name=".UpdateStudent1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DeleteStudent"
            android:label="Delete Student&apos;s Details">
            <intent-filter>
                <action android:name=".DeleteStudent" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConfirmAdd"
            android:label="Confirmation">
            <intent-filter>
                <action android:name=".ConfirmAdd" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConfirmUpdate"
            android:label="Confirmation">
            <intent-filter>
                <action android:name=".ConfirmUpdate" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConfirmDelete"
            android:label="Confirmation">
            <intent-filter>
                <action android:name=".ConfirmDelete" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUp">
            <intent-filter>
                <action android:name=".SignUp" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>